@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Montserrat:wght@500&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playwrite+ES+Deco&family=Poppins:wght@800&display=swap');

  *{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
   
   }


  nav{
    display: flex;
    width: 84%;
    padding: 20px 0;
    align-items: center;
    justify-content:space-between;
     }


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
    
}

nav ul li a:hover{
  color:#ffa726;
}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 15px;
    color:#7e57c2;
   font-weight:700;

}

.navbar a:hover{
  color: #9671d6;
}


body {
    background-color: black;
}