@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Montserrat:wght@500&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playwrite+ES+Deco&family=Poppins:wght@800&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   }


   nav{
    display: flex;
    width: 90%;
    padding: 20px 0;
    align-items: center;
    justify-content:space-between;
     }


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
    
}

nav ul li a:hover{
  color:#ffa726;
}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 15px;
    color:#7e57c2;
   font-weight:700;

}

.navbar a:hover{
  color: #9671d6;
}

h1{
  color:#7e57c2;
}

.bio{
  text-align: center;

}

body{
    background-color:black;
    color:aliceblue;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 9%;
}

.timeline .timeline-row{
  display: flex;
  column-gap: 64px;
  flex-wrap: wrap;
}

.timeline-row .timeline-column{
  flex: 1 1 320px;
}

.timeline-column .title{
  position: relative;
  display: inline-block;
  font-size: 28px;
  margin: 32px 0 16px 30px;
}

.timeline-column .timeline-box{
   position: relative;
  border-left: 2px solid #ffa726;
}

.timeline-box .timeline-content{
  position: relative;
  padding-left: 27px;
}

.timeline-box .timeline-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: -10.5px;
  width: 20px;
  height: 20px;
  background: #ffa726;
  border-radius: 50%;
}

.timeline-content .content{
  padding: 24px;
  border: 2px solid #ffa726;
  border-radius: 8px;
  margin-bottom: 32px;
}

.timeline-content .content .year {
  font-size: 16px;
  color:#9671d6;
}

.timeline-content .content .year i{
  margin-right: 8px;
}

.timeline-content .content h3{
  font-size: 19px;
  margin: 8px 0;
}

.timeline-content .content p{
  font-size: 16px;
}

.animate{
  position:absolute;
  top: 0;
  right: 0;
  width: 105%;
  height: 100%;
  background: black;
  animation: show-right 1s ease forwards;
  animation-delay: calc(.5s * var(--i));
}

@keyframes show-right{
  100%{
    width: 0;
  }
}

    
    

